#logo {
  display: flex;
  flex-direction: row;
  top: 0px;
  width: 100vw;
  height: 50px;
  color: white;
  background-color: blue;
  justify-content: space-between;
  align-items: center;
  position: fixed; }
  #logo h1 {
    margin-left: 10px; }
  #logo a {
    color: white; }
  #logo #profile-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    #logo #profile-links li {
      margin-right: 20px;
      list-style: none; }
      #logo #profile-links li a {
        color: white;
        text-decoration: none; }
    #logo #profile-links img {
      background-size: cover;
      height: 25px;
      width: auto; }
